<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Login Page</h2>
    <form action="/login" method="POST" id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <button type="submit">Login</button>
        <div class="message" id="message"></div>
    </form>
</body>
<script>
     document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const password= document.getElementById("password").value;

            const messageDiv = document.getElementById('message');

            const valisUsername = "admin"
            const valisPassword = "12345"

            if (username == valisUsername && password == valisPassword){
                window.location.href = "home"

            }else{
                messageDiv.textContent = 'Invalid username or password.';
                messageDiv.style.color = 'red';
            }


     })
</script>
</html>

